{% extends "base.html" %}
{% block content %}
    <h1>About</h1>
    <p>This is a paragraph to start with.</p>
{% endblock %}

{% block details %}
    <p>
        {{ my_text }}, {{ my_number }}
        {{ my_list }}
    </p>
    <ul>
        {% for l in my_list %}
            <li>{{ forloop.counter }} - {{ l }}</li>
        {% endfor %}
    </ul>
    <ol>
        {% for l in my_list %}
            {% if l|divisibleby:3 == 1 %}
                <li>{{ forloop.counter }} - {{ l|add:34 }} Result: {{ l|divisibleby:3 }} - {{ l }}</li>
            {% else %}
                <li>{{ forloop.counter }} - {{ l }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <p>slugify {{ html|slugify }}</p>
    <p>safe {{ html|safe }}</p>
    <p>title {{ html|title }}</p>
    <p>upper {{ html|upper }}</p>
    <p>capfirst {{ html|capfirst }}</p>
{% endblock %}