{% extends "base.html" %}

{% block content %}
    {% for p in product_list %}
        <p><strong>{{ p.id }} - {{ p.title|upper }}<br/></strong>
            {% if p.description != None and p.description != '' %}
                {{ p.description }}
            {% else %}Description coming soon ...
            {% endif %}
            <br/>
            price : {{ p.price }}<br/>
            summary: {{ p.summary }}<br/>
            featured: {{ p.featured }}<br/>
            link: <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
        </p>

    {% endfor %}
{% endblock %}